nav {
  background-color: #87dec69e;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box {
  background-color: #87dec69e;
  padding: 1em;
  margin: .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box h1 {
  margin-bottom: 1em;
}

.add-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 1em;
  margin: 0 auto;
}

.add-form input {
  padding: 1em;
  margin: 1em;
}
.add-form input:focus {
  outline: none;
}

.add-form button {
  padding: 1em;
  margin: 1em;
  background-color: #87dec69e;
  border: none;
}

.delete-button {
  padding: 1em;
  border: none;
  width: 20%;
  height: 50px;
}